@import '../style/index';

@tag-prefix-cls: ~'@{prefix}-tag';

.disabled() {
  color: @gray-6;
  background: @gray-3;
  border: 1px solid @gray-3;

  &:hover {
    color: @gray-6;
    background: @gray-3;
    border: 1px solid @gray-3;
  }
}

.theme-style(@backgourdColor, @color) {
  color: @color;
  background-color: @backgourdColor;
  border-color: @backgourdColor;

  &:hover {
    color: @color;
    background-color: @backgourdColor;
    border-color: @backgourdColor;
    cursor: default;
  }
}

.close-style(@closeColor, @hoverColor, @activeColor) {
  color: @closeColor;

  &:hover {
    color: @hoverColor;
  }

  &:active {
    color: @activeColor;
  }
}

.color-disabled(@color, @bgColor) {
  color: @color;
  border-color: @bgColor;

  &:hover {
    background: @bgColor;
  }
}

.@{tag-prefix-cls} {
  display: inline-block;
  position: relative;
  //max-width: 200px;
  height: auto;
  line-height: 18px;
  font-size: 12px;
  box-sizing: border-box;
  color: @gray-9;
  padding: 2px 8px;
  margin-right: 8px;
  cursor: default;
  background: @gray-1;
  border: 1px solid @gray-4;
  border-radius: 3px;
  .text-overflow-ellipsis;

  a {
    color: @gray-8;
    transition: color 0.3s ease;
  }

  &.rounded {
    border-radius: 14px;
  }

  &.closable {
    padding-right: 24px;
    .tag-close-wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      position: absolute;
      right: 8px;
      top: 0;
    }
    .tag-close-icon {
      color: @gray-6;
      font-size: 12px;
      cursor: pointer;
    }
  }

  &.icon {
    padding-left: 24px;

    .tag-icon {
      position: absolute;
      left: 8px;
      font-size: 12px;
    }
  }

  &.large {
    line-height: 22px;

    &.closable {
      padding-right: 24px;
      .tag-close-wrapper {
        right: 8px;
      }
    }
  }

  &.small {
    padding: 1px 4px;
    line-height: 16px;

    &.closable {
      padding-right: 20px;
      .tag-close-wrapper {
        right: 4px;
      }
    }

    &.icon {
      padding-left: 20px;

      .tag-icon {
        left: 4px;
      }
    }

    .rounded {
      border-radius: 12px;
    }
  }

  &.checkable {
    cursor: pointer;

    &:hover {
      color: @blue-4;
      border-color: @blue-4;
      background: @blue-1;
    }

    &.checked {
      background: @blue-4;
      color: @gray-1;
      border-color: @blue-4;

      .tag-close-icon {
        color: @gray-1;
      }
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  // 不同状态、不同颜色
  &.disabled {
    .disabled();

    &.checked {
      color: white;
      background: @blue-2;
      border-color: @blue-2;
    }
  }
  &.success,
  &.green {
    .theme-style(@green-1, @green-5);
    &.disabled {
      .color-disabled(@green-3, @green-1);
    }
    .tag-close-icon {
      .close-style(@green-3, @green-5, @green-6);
    }
  }
  &.warning,
  &.orange {
    .theme-style(@orange-1, @orange-5);
    &.disabled {
      .color-disabled(@orange-3, @orange-1);
    }
    .tag-close-icon {
      .close-style(@orange-3, @orange-5, @orange-6);
    }
  }
  &.default {
    .disabled();
  }
  &.danger,
  &.red {
    .theme-style(@red-1, @red-5);
    &.disabled {
      .color-disabled(@red-3, @red-1);
    }
    .tag-close-icon {
      .close-style(@red-3, @red-5, @red-6);
    }
  }
  &.primary,
  &.blue {
    .theme-style(@blue-1, @blue-5);
    &.disabled {
      .color-disabled(@blue-3, @blue-1);
    }
    .tag-close-icon {
      .close-style(@blue-3, @blue-5, @blue-6);
    }
  }
  &.yellow {
    .theme-style(@yellow-1, @yellow-5);
    &.disabled {
      .color-disabled(@yellow-3, @yellow-1);
    }
    .tag-close-icon {
      .close-style(@yellow-3, @yellow-5, @yellow-6);
    }
  }
  &.gray {
    .theme-style(@gray-3, @gray-8);
    &.disabled {
      .color-disabled(@gray-7, @gray-3);
    }
    .tag-close-icon {
      .close-style(@gray-6, @gray-7, @gray-8);
    }
  }

  &.link {
    .theme-style(#E8E8E8, @blue-4);

    &:hover {
      cursor: pointer;
      border-color: #E8E8E8;
    }

    &.disabled {
      color: @gray-6;
      background: @gray-3;
      border: 1px solid #E8E8E8;

      &:hover {
        cursor: not-allowed;
        color: @gray-6;
        border: 1px solid #E8E8E8;
      }
    }
  }
}
