@import '../style/index';

/*
 * 请不要删除 样式中的 !important
 * 样式文件中所有 !important 都是为了覆盖 ccms-components 组件库的流氓样式而写
**/

@input-prefix-cls: ~'@{prefix}-input';

@border-radius: 2px;
@default-width: 250px;

@placeholder-color: @gray-6;

@focus-border-color: @blue-4;

@large-font-size: 14px;
@default-font-size: 12px;
@small-font-size: 12px;

@clear-icon-font-size: 16px;
@clear-icon-color: @gray-6;
@clear-icon-hover-color: @gray-7;

@addon-background: #fafafa;
@addon-font-size: 14px;

@textarea-background: #ffffff;

@both-space-size: 12px;

@transition: 0.3s;

.@{input-prefix-cls} {
	&,
	&-textarea,
	&-group {
		position: relative;
		display: inline-block;
		line-height: 1.5;
		height: auto;
		background: @color-white;
		color: @gray-9;
		transition: border @transition, color @transition;
		box-sizing: border-box;
		vertical-align: middle;
	}

	&,
	&-textarea {
		border: 1px solid @gray-4;
		border-radius: @border-radius;
		outline: none;
		width: @default-width;
		vertical-align: top;
	}

	&-wrapper {
		> .@{input-prefix-cls}-group {
			display: table;
			width: 100%;

			> * {
				display: table-cell;
				white-space: nowrap;
				vertical-align: middle;
			}
		}
	}

	/* group */
	&-group {
		
		&,
		.@{input-prefix-cls}-group {
			display: inline-flex;
			align-items: center;
		}

		width: @default-width;

		.@{input-prefix-cls}-group {
			
			width: 100%;
		}

		input {
			width: 100%;
			height: auto;

			&,
			&:focus,
			&:disabled {
				border: none !important;
			}
		}
		&:hover {
			.@{input-prefix-cls}-clear {
				display: block;
			}

			.hidden {
				display: none;
			}
		}
		&.large {
			padding: 8px @both-space-size;
			font-size: @large-font-size;
			height: 36px;
		}
		&-textarea,
		&.default {
			padding: 5px @both-space-size;
			font-size: @default-font-size;
			height: 32px;
		}
		&.small {
			padding: 2px @both-space-size;
			font-size: @small-font-size;
			height: 28px;
		}
	}

	&-prefix,
	&-suffix {
		display: inline-flex;
		align-items: center;
	}

	&-prefix {
		margin-left: 0;
		margin-right: 8px;
	}

	&-suffix {
		margin-right: 8px;
	}

	&-affix {
		border: 1px solid @gray-4;
		padding: 5px @both-space-size;
		color: @gray-9;
		&:hover {
			border-color: @gray-6
		}
	}

	&-counter {
		font-size: 12px;
		color: #c9c9c9;
	}

	&-addon {
		position: relative;
		padding: 0 8px;
		color: @color-gray2;
		font-size: @addon-font-size;
		line-height: 1;
		text-align: center;
		background-color: @addon-background;
		border: 1px solid @gray-4;
		transition: @transition;

		width: 1px;
		white-space: nowrap;
		vertical-align: middle;

		&:not(:first-child) {
			border-left: none;
		}

		&:not(:last-child) {
			border-right: none;
		}
	}

	/* clear-icon */
	&-clear {
		font-size: @clear-icon-font-size;
		color: @clear-icon-color;
		transition: @transition;
		pointer-events: none;
		cursor: pointer;
		opacity: 0;
		display: none;

		~ * {
			margin-left: 4px;
		}

		&.show {
			opacity: 1;
			pointer-events: auto;
		}

		&.small-size {
			height: 22px;
			line-height: 22px;
		}

		&:hover {
			color: @clear-icon-hover-color;
		}
	}

	/* input placeholder css */
	&-textarea::placeholder,
	&::placeholder {
		font-size: 14px;
		color: @placeholder-color;
	}

	/* input size */
	&.large {
		padding: 8px @both-space-size;
		font-size: @large-font-size;
		height: 36px;
	}
	&-textarea,
	&.default {
		padding: 5px @both-space-size;
		font-size: @default-font-size;
		height: 32px;
	}
	&.small {
		padding: 2px @both-space-size;
		font-size: @small-font-size;
		height: 28px;
	}

	&-focus.@{input-prefix-cls}-affix,
	&-focus &-affix,
	&-textarea:focus,
	&:focus {
		border-color: @focus-border-color;
	}

	&-disabled.@{input-prefix-cls}-affix,
	&-disabled &-affix,
	&-textarea:disabled,
	&:disabled {
		color: @gray-7;
		background: @gray-3;
	}

	/* textarea */

	&-textarea-wrapper {
		position: relative;
		width: 100%;
		border: 1px solid #d9d9d9;
		background: @textarea-background;

		> textarea {
			width: 100%;
			height: 100%;
		}
	}

	&-textarea {
		font-family: inherit;
		width: 100%;
		resize: none;
		border: none;
	}

	&-textarea-counter {
		position: absolute;
		right: 5px;
		bottom: 2px;
		font-size: 12px;
		color: #c9c9c9;
		line-height: initial;
	}
}
