@import '../style/index';

@button-prefix-cls: ~'@{prefix}-button';

@border-radius: 2px;

@normal-bg: var(--dw-query-bg, #fafafa);
@normal-hover-bg: var(--dw-query-hover-bg, #f0f0f0);
@normal-active-bg: var(--btn-normal-active-bg, #e3e3e3);

@primary-hover-bg: var(--btn-primary-hover-bg, #43c0f4);
@primary-active: var(--btn-primary-active, @color-blue4);

@dashed-color: var(--btn-dashed, rgba(0, 0, 0, 0.65));

@font-or-border: var(--btn-primary, @color-blue1);

@large-font-size: 16px;
@default-font-size: 14px;
@small-font-size: 12px;

@large-padding: 10px 15px;
@default-padding: 7px 15px;
@small-padding: 5px 7px;

@translate: 1px;

/* group */
.@{button-prefix-cls}-group {
	padding-left: @translate;
	display: inline-block;
}

.@{button-prefix-cls} {
	border-radius: @border-radius;
	box-sizing: border-box;
	outline: none;
	line-height: 1;
	cursor: pointer;
	transition: 0.3s;

	/* group */
	&-group & {
		position: relative;
		margin-left: -@translate;
		border-radius: 0;
		z-index: 1;

		&:first-child {
			border-top-left-radius: @border-radius;
			border-bottom-left-radius: @border-radius;
		}

		&:last-child {
			border-top-right-radius: @border-radius;
			border-bottom-right-radius: @border-radius;
		}

		&[disabled]:not(:first-child)::after,
		&.primary:not(:first-child)::after {
			content: '';
			position: absolute;
			top: -1px;
			left: -1px;
			width: 1px;
			background: currentColor;
			opacity: 0.1;
			height: 104%;
		}

		&:hover {
			z-index: 2;
		}
	}

	/* type */
	&.normal {
		border: 1px solid @color-gray5;
		color: var(--dw-color, @color-gray2);
		background: @normal-bg;

		&:hover {
			background: @normal-hover-bg;
		}
		&:active {
			background: @normal-active-bg;
		}
	}
	&.primary {
		border: 1px solid @font-or-border;
		background: @font-or-border;
		color: @color-white;

		&:hover {
			border-color: @primary-hover-bg;
			background: @primary-hover-bg;
		}
		&:active {
			border-color: @primary-active;
			background: @primary-active;
		}
	}
	&.dashed {
		border: 1px dashed @color-gray5;
		color: @dashed-color;

		&:hover {
			border-color: @font-or-border;
			color: @font-or-border;
		}
		&:active {
			border-color: @primary-active;
			color: @primary-active;
		}
	}
	&.link {
		border: none;
		background: transparent;
		color: var(--dw-link-color, @color-blue3);

		&:hover {
			color: @font-or-border;
		}
		&:active {
			color: @primary-active;
		}
	}

	/* size */
	&.large {
		padding: @large-padding;
		font-size: @large-font-size;
	}
	&.default {
		padding: @default-padding;
		font-size: @default-font-size;
	}
	&.small {
		padding: @small-padding;
		font-size: @small-font-size;
	}

	/* block */
	&.block {
		width: 100%;
	}

	/* disabled */
	&[disabled] {
		&.link {
			&,
			&:hover,
			&:active {
				color: @color-gray6;
				cursor: not-allowed;
			}
		}

		&:not(.link) {
			&,
			&:hover,
			&:active {
				border: 1px solid @color-gray6;
				background: @color-gray6;
				color: @color-white;
				cursor: not-allowed;
			}
		}
	}

	&-loading {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		animation: load 1.5s infinite linear;
		margin-right: 10px;
		border: 1px solid @color-gray6;
		border-top: 1px solid @color-white;
		@keyframes load {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}
}
