@import '../style/index.less';

@button-prefix-cls: ~'@{prefix}-button';

@border-radius: 2px;

@primary-hover-bg: @blue-5;
@primary-active-bg: @blue-6;
@primary-disabled-bg: @gray-5;

@large-font-size: 14px;
@default-font-size: 14px;
@small-font-size: 14px;

@large-padding: 7px 15px;
@large-text-padding: 0;

@default-padding: 5px 11px;
@default-text-padding: 0;

@small-padding: 3px 11px;
@small-text-padding: 0;

@icon-margin: 6px;

@translate: 1px;

/* group */
.@{button-prefix-cls}-group {
  padding-left: @translate;
  display: inline-flex;
}

.@{button-prefix-cls} {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: @border-radius;
  box-sizing: border-box;
  outline: none;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;

  /* group */
  &-group & {
    position: relative;
    border-radius: 0;
    z-index: 1;
    margin-left: -@translate;

    &:first-child {
      border-top-left-radius: @border-radius;
      border-bottom-left-radius: @border-radius;
    }

    &:last-child {
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
    }

    &.text:not(:last-child) {
      margin-right: 8px;
    }

    &[disabled]:not(:first-child)::after,
    &.primary:not(:first-child)::after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      width: 1px;
      background: currentColor;
      opacity: 0.1;
      height: 104%;
    }

    &:hover {
      z-index: 2;
    }
  }

  /* type */
  &.normal {
    border: 1px solid @blue-2;
    color: @blue-4;
    background: @gray-1;
    &.tips {
      border: 1px solid @orange-2;
      color: @orange-4;
    }

    &.danger {
      border: 1px solid @red-2;
      color: @red-4;
    }
    &.success {
      border: 1px solid @green-2;
      color: @green-4;
    }

    &:hover {
      background: @blue-1;
      &.tips {
        border: 1px solid @orange-2;
        background: @orange-1;
      }

      &.danger {
        border: 1px solid @red-2;
        background: @red-1;
      }
      &.success {
        border: 1px solid @green-2;
        background: @green-1;
      }
    }
    &:active {
      color: @blue-5;
      border: 1px solid @blue-3;
      background: @blue-2;
      &.tips {
        border: 1px solid @orange-3;
        color: @orange-5;
        background: @orange-2;
      }

      &.danger {
        border: 1px solid @red-3;
        color: @red-5;
        background: @red-2;
      }
      &.success {
        border: 1px solid @green-3;
        color: @green-5;
        background: @green-2;
      }
    }
  }
  &.primary {
    border: 1px solid @blue-4;
    background: @blue-4;
    color: @gray-1;

    &.tips {
      border: 1px solid @orange-4;
      background: @orange-4;
    }
    &.danger {
      border: 1px solid @red-4;
      background: @red-4;
    }
    &.success {
      border: 1px solid @green-4;
      background: @green-4;
    }

    &:hover {
      border-color: @primary-hover-bg;
      background: @primary-hover-bg;
      &.tips {
        border: 1px solid @orange-5;
        background: @orange-5;
      }
      &.danger {
        border: 1px solid @red-5;
        background: @red-5;
      }
      &.success {
        border: 1px solid @green-5;
        background: @green-5;
      }
    }
    &:active {
      border-color: @primary-active-bg;
      background: @primary-active-bg;
      &.tips {
        border: 1px solid @orange-6;
        background: @orange-6;
      }
      &.danger {
        border: 1px solid @red-6;
        background: @red-6;
      }
      &.success {
        border: 1px solid @green-6;
        background: @green-6;
      }
    }
  }
  &.dashed {
    border: 1px dashed @gray-6;
    color: @gray-8;
    background: transparent;

    &:hover {
      border-color: @blue-2;
      color: @blue-4;
      &.tips {
        border: 1px dashed @orange-2;
        color: @orange-4;
      }

      &.danger {
        border: 1px dashed @red-2;
        color: @red-4;
      }
      &.success {
        border: 1px dashed @green-2;
        color: @green-4;
      }
    }
    &:active {
      border-color: @blue-3;
      color: @blue-5;
      &.tips {
        border: 1px dashed @orange-3;
        color: @orange-5;
      }

      &.danger {
        border: 1px dashed @red-3;
        color: @red-5;
      }
      &.success {
        border: 1px dashed @green-3;
        color: @green-5;
      }
    }
  }
  &.link {
    border: 1px solid transparent;
    color: @blue-4;
    background: transparent;
    line-height: 20px;
    &.tips {
      color: @orange-4;
    }
    &.danger {
      color: @red-4;
    }
    &.success {
      color: @green-4;
    }
    &:hover {
      border-color: @gray-2;
      background: @gray-2;
    }
    &:active {
      color: @blue-5;
      border-color: @gray-2;
      background: @gray-2;
      &.tips {
        color: @orange-5;
      }
      &.danger {
        color: @red-5;
      }
      &.success {
        color: @green-5;
      }
    }
  }

  &.text {
    border: none;
    line-height: 1;
    color: @blue-4;
    background: transparent;
    &.tips {
      color: @orange-4;
    }
    &.danger {
      color: @red-4;
    }
    &.success {
      color: @green-4;
    }
    &:active {
      color: @blue-5;
      &.tips {
        color: @orange-5;
      }
      &.danger {
        color: @red-5;
      }
      &.success {
        color: @green-5;
      }
    }
  }

  .cloud-icon {
    font-size: 16px;
    margin-right: @icon-margin;
  }

  /* size */
  &.large {
    padding: @large-padding;
    font-size: @large-font-size;
    // 纯文字按钮单独设置
    &.text {
      padding: @large-text-padding;
    }
  }
  &.default {
    padding: @default-padding;
    font-size: @default-font-size;
    // 纯文字按钮单独设置
    &.text {
      padding: @default-text-padding;
    }
  }
  &.small {
    padding: @small-padding;
    font-size: @small-font-size;
    // 纯文字按钮单独设置
    &.text {
      padding: @small-text-padding;
    }
  }

  /* block */
  &.block {
    width: 100%;
  }

  /* disabled */
  &[disabled] {
    &.primary {
      &,
      &:hover,
      &:active {
        color: @gray-1;
        border: 1px solid @primary-disabled-bg;
        background: @primary-disabled-bg;
        background-clip: padding-box;
        cursor: not-allowed;

        // &.tips{
        // 	border: 1px solid @orange-2;
        // 	background: @orange-2;
        // }

        // &.danger{
        // 	border: 1px solid @red-2;
        // 	background: @red-2;
        // }
        // &.success{
        // 	border: 1px solid @green-2;
        // 	background: @green-2;
        // }
      }
    }

    &.normal {
      &,
      &:hover,
      &:active {
        color: @gray-6;
        border: 1px solid @gray-4;
        background-color: @gray-3;
        cursor: not-allowed;
        // &.tips{
        // 	border: 1px solid @orange-2;
        // 	background:transparent;
        // 	color: @orange-2
        // }

        // &.danger{
        // 	border: 1px solid @red-2;
        // 	background:transparent;
        // 	color: @red-2
        // }
        // &.success{
        // 	border: 1px solid @green-2;
        // 	background: transparent;
        // 	color: @green-2
        // }
      }
    }

    &.dashed {
      &,
      &:hover,
      &:active {
        color: @gray-6;
        background: transparent;
        border: 1px dashed @gray-4;
        cursor: not-allowed;
      }
    }

    &.link {
      &,
      &:hover,
      &:active {
        color: @gray-6;
        cursor: not-allowed;
        background: transparent;
        border-color: transparent;
      }
    }

    &.text {
      &,
      &:hover,
      &:active {
        color: @gray-6;
        cursor: not-allowed;
      }
    }
  }

  &-loading-spin {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    animation: load 1.5s infinite linear;
    margin-right: 8px;
    border: 1px solid currentColor;
    border-right: 1px solid transparent;
    @keyframes load {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &.loading {
    &.primary {
      &,
      &:hover,
      &:active {
        color: @gray-1;
        border: 1px solid @blue-3;
        background: @blue-3;
        &.tips {
          border: 1px solid @orange-3;
          background: @orange-3;
        }
        &.danger {
          border: 1px solid @red-3;
          background: @red-3;
        }
        &.success {
          border: 1px solid @green-3;
          background: @green-3;
        }
      }
    }

    &.normal {
      &,
      &:hover,
      &:active {
        color: @blue-4;
        border: 1px solid @blue-2;
        background-color: @gray-1;
        cursor: not-allowed;
        &.tips {
          color: @orange-4;
          border: 1px solid @orange-2;
          background-color: @gray-1;
        }

        &.danger {
          color: @red-4;
          border: 1px solid @red-2;
          background-color: @gray-1;
        }
        &.success {
          color: @green-4;
          border: 1px solid @green-2;
          background-color: @gray-1;
        }
      }
    }

    &.dashed {
      &,
      &:hover,
      &:active {
        color: @blue-4;
        border: 1px dashed @blue-2;
        background: transparent;
        cursor: not-allowed;
        &.tips {
          color: @orange-4;
          border: 1px dashed @orange-2;
          background: transparent;
        }

        &.danger {
          color: @red-4;
          border: 1px dashed @red-2;
          background: transparent;
        }
        &.success {
          color: @green-4;
          border: 1px dashed @green-2;
          background: transparent;
        }
      }
    }

    &.link {
      &,
      &:hover,
      &:active {
        color: @blue-2;
        background: transparent;
        border-color: transparent;
        cursor: not-allowed;
        &.tips {
          color: @orange-2;
          background: transparent;
          border-color: transparent;
        }

        &.danger {
          color: @red-2;
          background: transparent;
          border-color: transparent;
        }
        &.success {
          color: @green-2;
          background: transparent;
          border-color: transparent;
        }
      }
    }

    &.text {
      &,
      &:hover,
      &:active {
        color: @blue-2;
        cursor: not-allowed;
        &.tips {
          color: @orange-2;
        }

        &.danger {
          color: @red-2;
        }
        &.success {
          color: @green-2;
        }
      }
    }
  }
}
