@import '../style/index';

@menuSelector: ~'@{prefix}-menu-container';
@menu-item-prefix-cls: ~'@{prefix}-menu-item';

@menu-item-color: var(--dw-color, #3a3a3a);
@menu-item-hover-color: var(--dw-hover-color, #dee1e5);
@menu-item-active-color: var(--menu-active, #fdfdfd);
@menu-item-disable-color: var(--dw-disabled-color, #ccc);

@menu-bg-color: var(--dw-query-bg, #e9ebee);
@menu-indicator-color: var(--menu-indicator, #cbcbcb);

.@{menu-item-prefix-cls} {
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	color: @menu-item-color;
	cursor: pointer;
	z-index: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&:hover {
		background: @menu-item-hover-color;
	}
	&.active {
		background: @menu-item-active-color;
	}
	&.disabled {
		color: @menu-item-disable-color;
		cursor: not-allowed;
	}
}

// ========== menu ===========
.@{menuSelector} {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
	width: 180px;

	.list {
		flex: 1;
		position: relative;
		z-index: 1;
		width: 100%;
		background-color: @menu-bg-color;
		overflow: auto;

		a {
			display: block;
			text-decoration: none;
			color: @menu-item-color;
		}

		.group-title:extend(.cloud-menu-item all) {
			position: relative;

			.indicator {
				position: absolute;
				color: @menu-indicator-color;
				font-size: 12px;
				right: 15px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.group-sub {
			&.collapse {
				height: 0;
				overflow: hidden;
			}
			&.expand {
				height: auto;
			}
			.menu-item {
				color: @menu-item-color;
			}
		}

		.item {
			&:extend(.cloud-menu-item all);
		}
	}
}
