
@selector: tabs;
@subSelector: ~'@{selector}-item';

@font-size: 12px;
@font-color: #145681;
@font-color-active: #3a3a3a;

@tab-accent-border-color: #33b5e5;
@tab-card-border-color: #d9d9d9;
@tab-card-bg: #f4f4f4;
@tab-card-active-bg: #fcfcfc;

@disabled-color: #ccc;
@hover-color: #0083ba;
@hover-bg-color: #fcfcfc;

@tile-accent-color: #0083ba;

@closable-color: #cecece;

.tabs-item-basic {
    position: relative;
    display: inline-block;
    line-height: 28px;
    font-size: @font-size;
    margin-right: 5px;
    color: @font-color;
    text-align: center;
    cursor: pointer;
    padding: 0 20px;
    transition: .3s;
    &.disabled {
        color: @disabled-color !important;
        cursor: not-allowed !important;
        user-select: none;
        pointer-events: none;
    }
    &:hover {
        color: @hover-color;
        background: @hover-bg-color;
        .closable-wrapper {
            background: #c2c2c2;
            .closable {
                color: #fff;
            }
        }
    }
}

.@{selector} {
    width: 100%;
    box-sizing: border-box;
    &-header {
        position: relative;
        height: 30px;
        margin-bottom: 10px;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            border-bottom: 1px solid @tab-accent-border-color
        }
    }

    &-item-card:extend(.tabs-item-basic all) {
        border: 1px solid @tab-card-border-color;
        border-bottom-color: @tab-accent-border-color;
        background-color: @tab-card-bg;
        &.active {
            background: @tab-card-active-bg;
            border-color: @tab-accent-border-color;
            border-bottom-color: @hover-bg-color;
            color: @font-color-active;
        }
    }
    .@{subSelector}-tile:extend(.tabs-item-basic all) {
        &.active {
            border-bottom: 2px solid @tile-accent-color;
            color: @font-color-active;
        }
    }

    .closable-wrapper {
        box-sizing: border-box;
        height: 12px;
        width: 12px;
        line-height: 1;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        right: 2px;
        text-align: center;
        transition: .1s;
        .closable {
            transform: scale(.85);
            display: inline-block;
            line-height: 1;
            font-size: 12px;
            color: @closable-color;
            transition: .1s;
        }
    }
}

