@import '../style/index';

@breadcrumbs-prefix-cls: ~'@{prefix}-breadcrumbs';

.@{breadcrumbs-prefix-cls} {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&-default {
		font-size: 16px;

		.title > i {
			font-size: 16px;
		}
	}

	&-large {
		font-size: 20px;

		.title > i {
			font-size: 20px;
		}
	}

	&-small {
		font-size: 14px;

		.title > i {
			font-size: 14px;
		}
	}

	li {
		color: @gray-7;

		.title:hover,
		.more:hover {
			cursor: pointer;
			color: @blue-4;
		}

		.title > i {
			margin-right: 8px;
		}

		&:last-child {
			color: @gray-9;
			cursor: default;
			pointer-events: none;
		}

		.split {
			color: @gray-7;
			margin-left: 8px;
			margin-right: 8px;
		}
	}
}
