.cloud-breadcrumbs {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&.cloud-breadcrumbs-default {
		font-size: 16px;
	}
	&.cloud-breadcrumbs-large {
		font-size: 18px;
	}
	&.cloud-breadcrumbs-small {
		font-size: 14px;
	}
	li {
		color: #0083ba;
		cursor: pointer;
		&:last-child {
			color: #2d2d2d;
			cursor: default;
			pointer-events: none;
		}
		&:not(:last-child):after {
			content: '/';
			margin-left: 4px;
			margin-right: 4px;
		}
	}
}
