@import '../style/index';

@tips-prefix-cls: ~'@{prefix}-tips';

.text-overflow-ellipsis(@line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
}

.type-mixin(@bg, @border, @close, @action, @hover, @active) {
  background: @bg;
  border: 1px solid @border;
  border-radius: 6px;
  .close-icon {
    color: @gray-7;

    &:hover,
    &:active {
      color: @gray-7;
    }
  }
  .action-icon,
  .tip-icon {
    color: @action;
  }
  .action-icon {
    &:hover {
      color: @hover;
    }
    &:active {
      color: @active;
    }
  }
}

.@{tips-prefix-cls} {
  &.normal {
    .type-mixin(@blue-1, @blue-2, @blue-3, @blue-4, @blue-5, @blue-6);
  }

  &.major {
    .type-mixin(@orange-1, @orange-2, @orange-3, @orange-4, @orange-5, @orange-6);
  }

  &.warning {
    .type-mixin(@red-1, @red-2, @red-3, @red-4, @red-5, @red-6);
  }

  &.success {
    .type-mixin(@green-1, @green-2, @green-3, @green-4, @green-5, @green-6);
  }

  &.banner {
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: none;
    border-radius: 0;
  }

  &.inline {
    display: inline-block;
    background: none;
    border: none;
  }

  &.small-radius {
    border-radius: 3px;
  }

  &.large-radius {
    border-radius: 12px;
  }
}
.@{tips-prefix-cls}-container {
  display: flex;
  gap: 8px;
  padding: 8px;
  line-height: 20px;
  font-size: 14px;

  .action-icon,
  .close-icon {
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
    color: @gray-9;
  }
  .description {
    color: @gray-8;
  }

  .operation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .operation-top {
      display: flex;
      gap: 8px;
    }
  }

  .msg.hasDesc {
    font-weight: 500;
  }

  .collapsible {
    .msg,
    .description {
      .text-overflow-ellipsis(4);
    }
    .hasDesc {
      .text-overflow-ellipsis(1);
    }
  }

  &.banner-container {
    position: relative;
    padding: 12px 32px;
    .close-icon {
      position: absolute;
      top: 12px;
      right: 8px;
    }
    .content {
      text-align: center;
    }
  }

  &.inline-container {
    gap: 4px;
    padding: 0;
  }
}
