@import '../style/index';

@tips-prefix-cls: ~'@{prefix}-tips';

@normal-bg: @blue-1;
@normal-border-color: @indigo-2;
@normal-btn-color: #8fafff;

@major-bg: @orange-1;
@major-border-color: #fdcd8e;
@major-btn-color: #fda33d;

@warning-bg: @red-1;
@warning-border-color: @red-2;
@warning-btn-color: #f07878;

@success-bg: #ecffeb;
@success-border-color: #bcf7c0;
@success-btn-color: #59cc74;

.type-mixin(@bg, @borderColor) {
  background: @bg;
  border: 1px solid @borderColor;
}

.text-overflow-ellipsis(@line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
}

.@{tips-prefix-cls}{
  &.normal {
    .type-mixin(@normal-bg, @normal-border-color);
    .close-icon {
      color: @normal-btn-color;
    }
    .action-icon,
    .tip-icon {
      color: @blue-4;
    }
  }

  &.major {
    .type-mixin(@major-bg, @major-border-color);
    .close-icon {
      color: @major-btn-color;
    }
    .action-icon,
    .tip-icon {
      color: @orange-4;
    }
  }

  &.warning {
    .type-mixin(@warning-bg, @warning-border-color);
    .close-icon {
      color: @warning-btn-color;
    }
    .action-icon,
    .tip-icon {
      color: @red-4;
    }
  }

  &.success {
    .type-mixin(@success-bg, @success-border-color);
    .close-icon {
      color: @success-btn-color;
    }
    .action-icon,
    .tip-icon {
      color: @green-4;
    }
  }

  &.banner {
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  &.inline {
    display: inline-block;
    background: none;
    border: none
  }
}

.@{tips-prefix-cls}-container {
  display: flex;
  gap: 8px;
  padding: 8px;
  line-height: 20px;
  border-radius: 2px;
  font-size: 14px;

  .action-icon,
  .close-icon {
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
    color: @gray-9;
  }
  .description {
    color: @gray-8;
  }

  .operation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .operation-top {
      display: flex;
      gap: 8px;
    }
  }

  .collapsible{
    .msg,
    .description {
      .text-overflow-ellipsis(4);
    }
    .hasDesc {
      .text-overflow-ellipsis(1);
    }
  }

  &.banner-container {
    position: relative;
    padding: 12px 32px;
    .close-icon {
      position: absolute;
      top: 12px;
      right: 8px;
    }
    .content {
      text-align: center;
    }
  }

  &.inline-container {
    gap: 4px;
    padding: 0;
  }
}
