@font-face {
	font-family: "cloud-icon";
	src: url("./fonts/iconfont.woff") format("woff");
}

.cloud-icon {
	font-family: "cloud-icon" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cloud-icon-close:before {
	content: "\e646";
}

.cloud-icon-rmb:before {
	content: "\e63d";
}

.cloud-icon-refresh:before {
	content: "\e602";
}

.cloud-icon-info-circle:before {
	content: "\e74f";
}

.cloud-icon-check-circle-solid:before {
	content: "\e632";
}

.cloud-icon-question-circle:before {
	content: "\e66b";
}

.cloud-icon-calendar:before {
	content: "\e660";
}

.cloud-icon-warning-circle-solid:before {
	content: "\e685";
}

.cloud-icon-flag-solid:before {
	content: "\e78d";
}

.cloud-icon-delete:before {
	content: "\e63f";
}

.cloud-icon-search:before {
	content: "\e615";
}

.cloud-icon-down-solid:before {
	content: "\e6e9";
}

.cloud-icon-right:before {
	content: "\e613";
}

.cloud-icon-folder-solid:before {
	content: "\e60a";
}

.cloud-icon-people-solid:before {
	content: "\e625";
}

.cloud-icon-finish:before {
	content: "\e600";
}

.cloud-icon-view:before {
	content: "\eb8a";
}

.cloud-icon-upload:before {
	content: "\e6e1";
}

.cloud-icon-hide:before {
	content: "\ebe3";
}

.cloud-icon-plus:before {
	content: "\e626";
}

.cloud-icon-mail:before {
	content: "\e7ed";
}

.cloud-icon-folder-solid-open:before {
	content: "\e64b";
}

.cloud-icon-question-circle-solid:before {
	content: "\e671";
}

.cloud-icon-close-circle-solid:before {
	content: "\e710";
}

.cloud-icon-edit:before {
	content: "\e62b";
}

.cloud-icon-last-solid:before {
	content: "\e76d";
}

.cloud-icon-first-solid:before {
	content: "\e76e";
}

.cloud-icon-people:before {
	content: "\e672";
}

.cloud-icon-swap:before {
	content: "\e634";
}

.cloud-icon-shop:before {
	content: "\e618";
}

.cloud-icon-double-left:before {
	content: "\e652";
}

.cloud-icon-double-right:before {
	content: "\e653";
}

.cloud-icon-left-solid:before {
	content: "\e703";
}

.cloud-icon-right-solid:before {
	content: "\e72d";
}

.cloud-icon-up-solid:before {
	content: "\e74d";
}

.cloud-icon-config:before {
	content: "\e603";
}

.cloud-icon-down:before {
	content: "\e78e";
}

.cloud-icon-up:before {
	content: "\e78f";
}

.cloud-icon-left:before {
	content: "\e790";
}

.cloud-icon-move-down-solid:before {
	content: "\e609";
}

.cloud-icon-move-up-solid:before {
	content: "\e60b";
}

.cloud-icon-bottom-solid:before {
	content: "\e60c";
}

.cloud-icon-top-solid:before {
	content: "\e60d";
}

.cloud-icon-search-file:before {
	content: "\e60e";
}

.cloud-icon-export:before {
	content: "\e60f";
}

