/**
 * index.less
 * wangbo
 * 2019-06-18
 */

@selector: modal;
@background-font: #666;

@container-background: #F8F8F8;
@header-background: #EDEDED;
@close-icon-color: #CECECE;

@body-font-color: #3D3D3D;
@body-border-radius: 2px;

@footer-background: #F5F5F5;
@footer-border: 1px solid #E8E8E8;

@confirm-icon-color: #FAAD14;
@info-icon-color: #1890ff;
@success-icon-color: #52c41a;
@error-icon-color: #f5222d;
@warning-icon-color: #FAAD14;


.@{selector} {
	&-mask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: @background-font;
		opacity: 0.6;
		z-index: 1000;
	}
	&-container {
		min-height: 160px;
		max-height: 800px;
		min-width: 400px;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: @container-background;
		border-radius: @body-border-radius;
		z-index: 1001;
		white-space: normal;
	};
	&-header {
		border-radius: 2px;
		padding: 10px 14px 10px 17px;
		text-align: left;
		font-size: 14px;
		background: @header-background;

		.@{selector}-title {
			color: @background-font;
		}
		.close-icon {
			float: right;
			position: relative;
			color: @close-icon-color;
			cursor: pointer;
		}
	}

	&-body {
		max-height: calc(100vh - 300px);
		min-height: 80px;
		font-size: 14px;
		color: @body-font-color;
		padding: 20px 0 20px 20px;

		.@{selector}-body-content {
			padding-right: 20px;
			min-height: 67px;
			max-height: calc(100vh - 385px);
			overflow: auto;
			white-space: normal;
			word-break: break-word;
		}
	}

	&-footer {
		height: 32px;
		padding: 10px 20px;
		background: @footer-background;
		text-align: right;
		border-top: @footer-border;
		border-radius: 0 0 2px 2px;

		.@{selector}-confirm-btn {
			margin-right: 15px;
		}
	}
}

.info-area {
	max-width: 400px;
	.message-info {
		max-width: 350px;
		display: inline-block;
		vertical-align: top;
		color: @background-font;
		line-height: 24px;
	}
	.icon-style {
		font-size: 24px;
		color: #FAAD14;
		vertical-align: text-bottom;
		padding: 10px;
	}
	.confirm-style {
		color: @confirm-icon-color;
	}
	.info-style {
		color: @info-icon-color;
	}
	.success-style {
		color: @success-icon-color;
	}
	.error-style {
		color: @error-icon-color;
	}
	.warning-style {
		color: @warning-icon-color;
	}
}
.more-info {
	max-width: 350px;
	padding-top: 10px;
	padding-left: 44px;
}
