/**
 * index.less
 * wangbo
 * 2019-06-18
 */

@mask-background-font: #666;
@container-background: #F8F8F8;

@header-background: #EDEDED;
@header-border: 1px solid #E9E9E9;

@body-border: 1px solid #E8E8E8 ;

@footer-background: #F5F5F5;
@footer-cancel-btn-background: #FAFAFA;
@footer-cancel-btn-border: #E3E3E3;
@footer-cancel-btn-hover: #F0F0F0;
@footer-confirm-btn-background: #00AAF1;
@footer-confirm-btn-font: white;
@footer-confirm-btn-hover: #43C0F4;

@selector: modal;

.@{selector}-mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: @mask-background-font;
	opacity: 0.6;
	z-index: 1000;
}

.@{selector}-container {
	position: fixed;
	top: 50%;
	left: 50%;
	max-width: 1100px;
	max-height: 600px;
	min-width: 500px;
	min-height: 180px;
	transform: translate(-50%, -50%);
	background: @container-background;
	border-radius: 2px;
	z-index: 1001;

	.@{selector}-header {
		border-radius: 2px;
		padding: 10px 14px 10px 17px;
		text-align: left;
		font-size: 14px;
		background: @header-background;
		border-bottom: @header-border;
		.@{selector}-title {
			color: @mask-background-font;
		}
	}

	.@{selector}-body {
		max-height: calc(100vh - 350px);
		min-height: 87px;
		padding: 20px 0 20px 20px;
		font-size: 14px;
		border-bottom: @body-border;
		.@{selector}-content {
			max-height: inherit;
			min-height: 87px;
			padding-right: 20px;
			overflow: auto;
		}
	}

	.@{selector}-footer {
		height: 52px;
		background: @footer-background;
		text-align: right;
		line-height: 52px;
		.btn {
			width: 100px;
			height: 30px;
			font-size: 14px;
			border-radius: 2px;
			cursor: pointer;
			outline: none;
			text-align: center;
		}

		.@{selector}-cancel-btn {
			background: @footer-cancel-btn-background;
			border-color: @footer-cancel-btn-border;
			margin-right: 20px;
			margin-left: 15px;
			color: @mask-background-font;
			&:hover {
				background: @footer-cancel-btn-hover;
			}
		}

		.@{selector}-confirm-btn {
			background: @footer-confirm-btn-background;
			color: @footer-confirm-btn-font;
			&:hover {
				background: @footer-confirm-btn-hover;
			}
		}
	}
	.hide-content {
		display: none;
	}
}
