@import './const.less';

.@{prefix-cls}-range {
  display: inline-flex;
  align-items: stretch;
  border: none;
  padding: 0;
  border-radius: 0;

  .@{prefix-cls}-input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 6px 12px;
    padding-right: 1px;
    border: 1px solid @gray-4;
    border-right: none;
    transition: border-color 0.3s;
    &:not(:first-child) {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: transparent;
      transition: background-color 0.3s;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }

  .has-error & {
    .@{prefix-cls}-input,
    .@{prefix-cls}-range-separator,
    .@{prefix-cls}-suffix {
      border-color: @red-4 !important;
    }
  }

  &:hover {
    .@{prefix-cls}-input,
    .@{prefix-cls}-range-separator,
    .@{prefix-cls}-suffix {
      //border-color: #bfbfbf; // 太细的 alpha 通道颜色会偶现展示粗细不均的情况，这里用等效的 @gray-6
      border-color: @blue-4;
    }
  }

  &.@{prefix-cls}-focused .@{prefix-cls}-input-active {
    border-color: @blue-4 !important;
    &::after {
      background-color: @blue-4;
    }
    &:not(:first-child)::before {
      background-color: @blue-4;
    }
  }

  .@{prefix-cls}-range-separator {
    display: flex;
    align-items: center;
    border-top: 1px solid @gray-4;
    border-bottom: 1px solid @gray-4;
    transition: border-color 0.3s;
    .@{prefix-cls}-separator {
      color: @gray-8;
      padding: 0 4px;
    }
  }

  .@{prefix-cls}-suffix {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    margin-left: 0;
    padding-left: 4px;
    padding-right: 11px;
    align-items: center;
    border: 1px solid @gray-4;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: none;
    transition: border-color 0.3s;
  }

  .@{prefix-cls}-clear {
    right: 12px;
  }

  &:hover .@{prefix-cls}-clear {
    opacity: 1;
  }

  &-wrapper {
    .@{prefix-cls}-panel {
      .@{prefix-cls}-body .@{prefix-cls}-cell.@{prefix-cls}-cell-in-view {
        &.@{prefix-cls}-cell-range-start,
        &.@{prefix-cls}-cell-range-hover-start {
          &:not(.@{prefix-cls}-cell-range-end) .@{prefix-cls}-cell-inner {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &.@{prefix-cls}-cell-range-end,
        &.@{prefix-cls}-cell-range-hover-end {
          &:not(.@{prefix-cls}-cell-range-start) .@{prefix-cls}-cell-inner {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
        &.@{prefix-cls}-cell-range-hover-start:not(
            .@{prefix-cls}-cell-range-start
          ),
        &.@{prefix-cls}-cell-range-hover-end {
          &::before {
            background-color: @blue-1;
          }
          .@{prefix-cls}-cell-inner {
            background-color: @blue-2;
          }
        }
        &.@{prefix-cls}-cell-range-end .@{prefix-cls}-cell-inner {
          color: #fff;
          background: @blue-4;
        }
        &.@{prefix-cls}-cell-range-start,
        &.@{prefix-cls}-cell-range-end,
        &.@{prefix-cls}-cell-in-range {
          &::before {
            background-color: @blue-1;
          }
        }

        &.@{prefix-cls}-cell-in-range.@{prefix-cls}-cell-today
          .@{prefix-cls}-cell-inner {
          background-color: transparent;
        }

        &.@{prefix-cls}-cell-range-start {
          &.@{prefix-cls}-cell-range-hover-start::before {
            background-color: @blue-1;
          }
          &.@{prefix-cls}-cell-range-start-single:not(
              .@{prefix-cls}-cell-range-hover-start
            )::before {
            background-color: transparent;
          }
        }
        &.@{prefix-cls}-cell-range-hover:not(
            .@{prefix-cls}-cell-range-start
          ):not(.@{prefix-cls}-cell-range-end):not(
            .@{prefix-cls}-cell-in-range
          )::before {
          background-color: @blue-1;
        }
        &.@{prefix-cls}-cell-range-hover.@{prefix-cls}-cell-in-range::before {
          background-color: @blue-1;
        }
      }

      .@{prefix-cls}-date-panel, .@{prefix-cls}-week-panel, .@{prefix-cls}-quarter-panel {
        .@{prefix-cls}-body .@{prefix-cls}-cell.@{prefix-cls}-cell-in-view {
          &.@{prefix-cls}-cell-range-start,
          &.@{prefix-cls}-cell-range-hover-start {
            &:not(.@{prefix-cls}-cell-in-range):not(
                .@{prefix-cls}-cell-range-start-near-hover
              )::before {
              left: 8px;
            }
          }
          &.@{prefix-cls}-cell-range-end,
          &.@{prefix-cls}-cell-range-hover-end {
            &:not(.@{prefix-cls}-cell-in-range):not(
                .@{prefix-cls}-cell-range-end-near-hover
              )::before {
              right: 8px;
            }
          }
        }
      }

      .@{prefix-cls}-month-panel, .@{prefix-cls}-year-panel {
        .@{prefix-cls}-body .@{prefix-cls}-cell.@{prefix-cls}-cell-in-view {
          &.@{prefix-cls}-cell-range-start,
          &.@{prefix-cls}-cell-range-hover-start {
            &:not(.@{prefix-cls}-cell-in-range):not(.@{prefix-cls}-cell-range-start-near-hover)::before {
              left: 18px;
            }
          }

          &.@{prefix-cls}-cell-range-end,
          &.@{prefix-cls}-cell-range-hover-end {
            &:not(.@{prefix-cls}-cell-in-range):not(.@{prefix-cls}-cell-range-end-near-hover)::before {
              right: 18px;
            }
          }
        }
      }
    }
  }

  &-wrapper {
    .@{prefix-cls}-panel-container {
      margin-left: 0 !important;
    }
    &.@{prefix-cls}-time-range-wrapper .@{prefix-cls}-panel-container {
      width: fit-content;
    }
  }

  &-range-arrow {
    display: none;
  }
}
