@import './const.less';

.@{prefix-cls}-range {
  .@{prefix-cls}-clear {
    right: 12px;
  }

  &:hover .@{prefix-cls}-clear {
    opacity: 1;
  }

  &-wrapper {
    .@{prefix-cls}-panel .@{prefix-cls}-date-panel {
      .@{prefix-cls}-cell.@{prefix-cls}-cell-in-view {
        &.@{prefix-cls}-cell-range-start,
        &.@{prefix-cls}-cell-range-hover-start {
          &::before {
            left: 8px;
          }
        }
        &.@{prefix-cls}-cell-range-end,
        &.@{prefix-cls}-cell-range-hover-end {
          &::before {
            right: 8px;
          }
        }
        &.@{prefix-cls}-cell-range-hover-start:not(.@{prefix-cls}-cell-range-start),
        &.@{prefix-cls}-cell-range-hover-end {
          &::before {
            background-color: @indigo-1;
          }
          .@{prefix-cls}-cell-inner {
            background-color: @indigo-2;
          }
        }
        &.@{prefix-cls}-cell-range-end .@{prefix-cls}-cell-inner {
          color: #fff;
          background: @blue-4;
        }
        &.@{prefix-cls}-cell-range-start,
        &.@{prefix-cls}-cell-range-end,
        &.@{prefix-cls}-cell-in-range {
          &::before {
            background-color: @indigo-1;
          }
        }

        &.@{prefix-cls}-cell-in-range.@{prefix-cls}-cell-today
          .@{prefix-cls}-cell-inner {
          background-color: transparent;
        }

        &.@{prefix-cls}-cell-range-start {
          &.@{prefix-cls}-cell-range-hover-start::before {
            background-color: @indigo-1;
          }
          &.@{prefix-cls}-cell-range-start-single:not(.@{prefix-cls}-cell-range-hover-start)::before {
            background-color: transparent;
          }
        }
        &.@{prefix-cls}-cell-range-hover:not(.@{prefix-cls}-cell-range-start):not(.@{prefix-cls}-cell-range-end):not(.@{prefix-cls}-cell-in-range)::before {
          background-color: @indigo-1;
        }
        &.@{prefix-cls}-cell-range-hover.@{prefix-cls}-cell-in-range::before {
          background-color: @indigo-1;
        }
        &.@{prefix-cls}-cell-range-start-near-hover::after,
        &.@{prefix-cls}-cell-range-end-near-hover::after {
          position: absolute;
          top: 50%;
          right: 0;
          left: 0;
          z-index: 1;
          height: 24px;
          transform: translateY(-50%);
          transition: all 0.3s;
          content: '';
          background-color: @indigo-1;
        }
        &.@{prefix-cls}-cell-range-start-near-hover::after {
          left: 8px;
        }
        &.@{prefix-cls}-cell-range-end-near-hover::after {
          right: 8px;
        }
      }
    }
  }

  &-separator .@{prefix-cls}-separator {
    padding-right: 8px;
    color: @gray-6;
    line-height: 2;
  }

  &-range-wrapper {
    display: flex;
  }

  &-range-arrow {
    display: none;
  }
}
