@import '../style/index';

@checkbox-prefix-cls: ~'@{prefix}-checkbox';

@checkbox-size: 16px;

.@{checkbox-prefix-cls}-checked-inner-after {
  position: absolute;
  top: 4%;
  left: 30%;
  width: 28%;
  height: 60%;
  content: '';
  display: block;
  transform: rotate(45deg);
  border-left: 0;
  border-top: 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
  animation: transformAnimate 0.3s;
}

.@{checkbox-prefix-cls}-indeterminate-inner-after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 2px;
  content: '';
  display: block;
  transform: rotate(0) translate(-50%, -50%);
  animation: transformAnimate 0.3s;
}

@keyframes transformAnimate {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

.@{checkbox-prefix-cls} {
  display: inline-flex;
  align-items: center;
  height: 20px;
  font-size: 14px;
  line-height: 20px;

  &:not(.@{checkbox-prefix-cls}-disabled):hover {
    cursor: pointer;
    .@{checkbox-prefix-cls}-inner {
      border-color: #496bf5;
    }
  }

  &-group {
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 20px;

    &.vertical {
      flex-direction: column;
    }

    &.horizontal {
      flex-direction: row;

      > *:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &-wrapper {
    position: relative;
    flex-shrink: 0;
    width: @checkbox-size;
    height: @checkbox-size;
    margin-right: 8px;
    align-self: center;
  }

  &-input {
    opacity: 0;
    margin: 0;
    vertical-align: top;
  }

  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @color-white;
    border: 1px solid @gray-5;
    border-radius: 2px;
  }

  &-text {
    display: inline-flex;
    align-items: center;
    color: @gray-9;
  }

  &.@{checkbox-prefix-cls}-checked {
    .@{checkbox-prefix-cls}-inner {
      border: 1px solid @blue-4;
      background-color: @blue-4;

      &::after:extend(.cloud-checkbox-checked-inner-after) {
        border-color: @color-white;
      }
    }
  }

  &.@{checkbox-prefix-cls}-indeterminate {
    .@{checkbox-prefix-cls}-inner {
      border: 1px solid @blue-4;
      background-color: @blue-4;

      &::after:extend(.cloud-checkbox-indeterminate-inner-after) {
        background: @color-white;
      }
    }
  }

  &.@{checkbox-prefix-cls}-disabled {
    &:hover {
      cursor: not-allowed;
    }

    .@{checkbox-prefix-cls}-inner {
      background: @gray-3;
    }
    .@{checkbox-prefix-cls}-inner:hover {
      border-color: @gray-5;
    }

    &.@{checkbox-prefix-cls}-checked,
    &.@{checkbox-prefix-cls}-indeterminate {
      .@{checkbox-prefix-cls}-inner {
        border-color: @color-gray5;
        background: @color-gray5;
      }
    }

    .@{checkbox-prefix-cls}-text {
      color: @gray-6;
    }
  }
}
