@import '../style/index';

@menu: ~'@{prefix}-menu';
@menuCollapsed: ~'@{prefix}-menu-collapsed';
@inlineCollapsed: ~'@{prefix}-menu-inlineCollapsed';
@header: ~'@{prefix}-menu-header';
@horizontalHeader: ~'@{prefix}-menu-horizontal-header';

// 最外层盒子，用于menu和收起栏上下两端布局
.@{menu} {
  position: relative;
  display: inline-block;
  height: 100%;
  overflow: visible;
  // display: flex;
  &.@{horizontalHeader} {
    display: flex;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
    .@{header} {
    display: inline-block;
    padding: 20px 16px;
    width: 208px;
    height: 62px;
    box-sizing: border-box;
  }
}

// menu
.rc-menu-root{
  //box-shadow: none;
  border: none;
}

.rc-menu {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
  .rc-menu-item.rc-menu-item-disabled {
    color: rgba(0, 0, 0, 0.45) !important;
    cursor: not-allowed;
  }
}

.rc-menu-submenu-hidden {
  display: none;
}

// submenu
.rc-menu-submenu {
  .rc-menu-item-selected {
    background-color: #D4E1FF !important;
    color: #000;
  }
}

// menuItem
[role="menuitem"]{
  cursor: pointer;
}

// mode === horizontal
.rc-menu-horizontal {
  background-color: #fff;
  border-bottom: none;

  .rc-menu-submenu-selected {
    background-color: #fff;
    color: #5280FF;
  }
  .rc-menu-item-selected {
    background-color: #fff;
    color: #5280FF;
  }

 .rc-menu-item-active, .rc-menu-submenu-active{
    background-color: #fff;
    color: #5280FF;
    border-bottom-color: #5280FF;
    & > .rc-menu-submenu-title {
      background-color: #fff;
    }
  }
  & > .rc-menu-submenu {
    margin-right: 32px;
    & > .rc-menu-submenu-title {
    padding: 20px 2px;
  }
  }
  & > .rc-menu-item {
    padding: 20px 2px;
    margin-right: 32px;
}
  .cloud-icon {
    margin-right: 9px;
  }
}

// mode === inline / vertical
.rc-menu-inline,
.rc-menu-vertical {
  width: 208px;
  padding: 16px 8px;
  transition: 0.5s;
  -moz-transition: 0.5s; /* Firefox 4 */
  -webkit-transition: 0.5s; /* Safari 和 Chrome */
  -o-transition: 0.5s; /* Opera */

  .rc-menu-submenu-selected {
    background-color: #fff;
  }
  .rc-menu-submenu-title {
    // height: 40px;
    line-height: 20px;
    // padding: 10px 0 10px 24px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 4px;
  }
  & > .rc-menu-item {
    line-height: 20px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  li {
    margin-bottom: 4px;
  }
  .rc-menu-submenu-selected {
    & > .rc-menu-submenu-title {
      background-color: #F5F8FF !important;
      color: #5280FF;
    }
  }
  .rc-menu-submenu-active {
    & > .rc-menu-submenu-title {
      background-color: #fff;
      color: #5280FF;
    }
  }
  .rc-menu-item-active {
    background-color: #fff;
    color: #5280FF;
  }
  .rc-menu-item-selected {
    background-color: #F5F8FF !important;
    color: #5280FF;
  }

  [role="menuitem"]{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 20px !important;
    height: 20px !important;
    margin-bottom: 4px;
  }

  .cloud-icon {
    margin-right: 9px;
  }
}

// mode === vertical
.rc-menu-vertical {
  width: 208px;
  &.rc-menu-sub {
    min-width: 120px;
    padding: 8px 0;
    width: 100%;
  }
  & > .rc-menu-item {
    padding: 6px 12px;
    line-height: 20px;
  }
  & > .rc-menu-submenu {
    & > .rc-menu-submenu-title{
      padding: 6px 38px 6px 12px;
    }
  }
}

// 收起状态下menu
.rc-menu-inline-collapsed{
  width: 64px;
  transition: 0.5s;
  -moz-transition: 0.5s; /* Firefox 4 */
  -webkit-transition: 0.5s; /* Safari 和 Chrome */
  -o-transition: 0.5s; /* Opera */

  .rc-menu-submenu .rc-menu-submenu-title .rc-menu-submenu-arrow{
    display: none;
  }

  .rc-menu-item,
  .rc-menu-submenu .rc-menu-submenu-title{
    padding-left: 24px;

    i:first-child{
      margin-right: 0;
    }
  }
}

// 收起按钮
.@{inlineCollapsed}{
  position: absolute;
  bottom: 0;
  padding: 0 0 25px 32px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;

  // 收起图标
  i{
    width: 14px;
    height: 14px;
    &:hover{
      color: #5280FF;
    }
  }

  // 收起文字
  .text{
    overflow: hidden;
    margin-left: 13px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
}

// 收起时menu布局
.@{menuCollapsed}{
  .rc-menu-root.rc-menu-inline,
  .rc-menu-root.rc-menu-vertical{
    height: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 60px;
  }
  .rc-menu-item span,
  .rc-menu-submenu .rc-menu-submenu-title span{
    padding: 1px;
  }
}
