@import '../style/index';

@sort-action-color: var(--grid-sort, #ccc);
@sort-icon-color: var(--grid-sort-icon, @color-blue3);
@pagination-color: var(--grid-page-color, #929292);
@pagination-disabled-color: var(--grid-page-disabled, #d1d1d1);
@loading-stroke-width: 3;
@pagination-bg: var(--grid-page-bg, #f2f2f2);
@toolbar-bg: var(--grid-page-bg, #f2f2f2);
@border-color: var(--grid-border, #e8e8e8);

.table-wrap.cloud-react-skin [grid-manager] th[remind] .th-wrap {
	padding-left: 20px;
}
.table-wrap.cloud-react-skin,
.table-wrap.cloud-react-skin.icon-follow-text {
	--gm-border: var(--grid-page-bg);
	border-color: @border-color;
	td {
		color: var(--grid, #666);
		background: var(--grid-bg, @color-white);
		border-color: @border-color;
	}
	//.table-header {
	//	background-color: var(--grid-head-bg, #f1f1f1);
	//	color: var(--grid, #666);
	//	border-color: @border-color;
	//}

	// th区域
	[grid-manager] th {
		padding: 0;
		border-color: @border-color;
		&:hover {
			background: var(--grid-hover-bg, #e8e8e8);
		}
		.th-wrap {
			padding: 6px;
			.sorting-action.sorting-down .sa-up,
			.sorting-action.sorting-up .sa-down {
				opacity: 1;
				color: @sort-action-color;
			}
		}
		.th-wrap .sorting-action {
			visibility: hidden;
		}
		.th-wrap:hover .sorting-action {
			visibility: visible;
			color: @sort-icon-color !important;
		}

		.th-text {
			color: var(--grid-high, @color-gray2);
			font-weight: 400;
			i {
				font-size: 16px !important;
				color: @sort-icon-color;
			}
		}
	}
	// 配置区域
	.gm-config-area {
		.config-action {
			display: none;
		}
	}

	// tbody区域
	tbody {
		tr:not([full-column-interval]):not([full-column]) > td {
			height: 42px;
			min-height: 42px;
			padding: 6px;
			> div {
				white-space: normal;
			}
		}

		// 奇数列高亮色
		tr:nth-child(odd) td {
			background: var(--grid-odd-bg, #fafafa);
		}
		// 鼠标悬浮
		tr:hover td {
			background: var(--grid-hover-bg, #f1f8fb);
		}
	}

	// 分页区域
	.gm-toolbar {
		background: @toolbar-bg;
		color: var(--grid, @color-gray2);
		border-color: @border-color;
		.change-size {
			position: absolute;
			top: 7px;
			right: 0;
		}
		.totals-count {
			margin-left: 2px;
			display: inline-block;
			height: 30px;
			padding: 6px 7px;
			vertical-align: middle;
		}
		/* 无总页模式不显示总条数 */
		&[no-totals-mode='true'] {
			.totals-count {
				display: none;
			}
		}
		.refresh-action {
			color: var(--grid-refresh, @color-gray2);
			padding: 6px;
			i {
				vertical-align: -1px;
			}
			.refresh-label {
				margin-left: 3px;
			}
		}

		.pagination {
			bottom: 4px;
			right: 60px;
			.goto-page {
				padding: 1.5px 10px;
			}
			> ul {
				> li {
					border: none !important;
					background: @pagination-bg !important;
					padding: 6px 10px;
					> i {
						font-size: 16px;
						color: @pagination-color;
					}
					&.disabled > i {
						color: @pagination-disabled-color;
					}
				}
			}
		}
	}
}
