@import '../style/index';

@breadcrumbs-prefix-cls: ~'@{prefix}-avatar';

@s-16: ~'16';
@s-24: ~'24';
@s-32: ~'32';
@s-40: ~'40';
@s-48: ~'48';
@s-60: ~'60';

.@{breadcrumbs-prefix-cls} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
  font-size: 18px;
  color: #ffffff;
  overflow: hidden;
  font-family: @default-font-family;

  i {
    font-size: 16px;
    position: relative;
    color: @gray-6;
  }
  &.@{breadcrumbs-prefix-cls}-@{s-16} {
    font-size: 14px;

    i {
      top: 3px;
      font-size: 12px;
    }
  }
  &.@{breadcrumbs-prefix-cls}-@{s-24} {
    font-size: 16px;

    i {
      top: 4px;
      font-size: 20px;
    }
  }
  &.@{breadcrumbs-prefix-cls}-@{s-32} {
    font-size: 20px;

    i {
      top: 4px;
      font-size: 28px;
    }
  }
  &.@{breadcrumbs-prefix-cls}-@{s-40} {
    font-size: 22px;

    i {
      top: 4px;
      font-size: 36px;
    }
  }
  &.@{breadcrumbs-prefix-cls}-@{s-48} {
    font-size: 26px;

    i {
      top: 5px;
      font-size: 44px;
    }
  }
  &.@{breadcrumbs-prefix-cls}-@{s-60} {
    font-size: 32px;

    i {
      top: 6px;
      font-size: 56px;
    }
  }
  &.@{breadcrumbs-prefix-cls}-default {
    width: 24px;
    height: 24px;
    font-size: 16px;

    .@{breadcrumbs-prefix-cls}-icon {
      top: 3px;
      font-size: 20px;
    }
  }
  &.@{breadcrumbs-prefix-cls}-small {
    width: 16px;
    height: 16px;
    font-size: 14px;

    .@{breadcrumbs-prefix-cls}-icon {
      top: 2px;
      font-size: 16px;
    }
  }
  &.@{breadcrumbs-prefix-cls}-large {
    width: 40px;
    height: 40px;
    font-size: 22px;

    .@{breadcrumbs-prefix-cls}-icon {
      top: 4px;
      font-size: 36px;
    }
  }
  &.@{breadcrumbs-prefix-cls}-circle,
  &.@{breadcrumbs-prefix-cls}-circle img {
    border-radius: 50%;
  }
  &.@{breadcrumbs-prefix-cls}-square {
    border-radius: 2px;
    &.@{breadcrumbs-prefix-cls}-small,
    &.@{breadcrumbs-prefix-cls}-@{s-16} {
      border-radius: 1px;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
