.avatar-basic-demo {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}
