@import '../style/index';

@tooltip-prefix-cls: ~'@{prefix}-tooltip';
@arrow-size: 3px;
@transparent-height: 7px;
@border: @arrow-size solid currentColor;

.left-style(@top) {
	&:after {
		top: @top;
		right: -6px;
		border-left: @border;
	}
	&:before {
		right: 0;
		transform: translate(100%, -4px);
		width: @transparent-height;
		height: 100%;
	}
}
.right-style(@top) {
	&:after {
		top: @top;
		left: -6px;
		border-right: @border;
	}
	&:before {
		left: 0;
		transform: translate(-100%, -4px);
		width: @transparent-height;
		height: 100%;
	}
}
.top-style(@left) {
	&:after {
		left: @left;
		bottom: -6px;
		border-top: @border;
	}
	&:before {
		bottom: 0;
		transform: translate(-8px, 100%);
	}
}
.bottom-style(@left) {
	&:after {
		left: @left;
		top: -6px;
		border-bottom: @border;
	}
	&:before {
		top: 0;
		transform: translate(-8px, -100%);
	}
}

.@{tooltip-prefix-cls} {
	position: absolute;
	font-size: 12px;
	min-height: 26px;
	max-width: 250px;
	line-height: 1.5;
	padding: 4px 8px;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: @z-index-tooltip;
	word-break: break-all;
	top: 0;
	left: 0;
	opacity: 0;

	&.show {
		opacity: 1;
	}

	&:before {
		content: '';
		width: 100%;
		height: @transparent-height;
		position: absolute;
		background: transparent;
	}

	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: @arrow-size solid transparent;
	}

	&.is-dark {
		background-color: var(----dw-query-bg, @color-gray2);
		color: var(--dw-color, @color-gray1);
		&:after {
			color: @color-gray2;
		}
	}

	&.is-light {
		@light-color: #dddee1;
		background-color: var(--ttip-light-bg, @color-white);
		color: @color-gray4;
		box-shadow: -1px 0 @light-color, 0 -1px @light-color, 1px 0 @light-color, 0 1px @light-color;

		&:after {
			color: @light-color;
		}
	}

	&.is-error {
		background-color: var(--ttip-warn, @color-red1);
		color: var(--dw-color, @color-gray1);
		&:after {
			color: var(--ttip-warn, @color-red1);
		}
	}

	&.top-left {
		.top-style(@arrow-size);
	}

	&.top-center {
		.top-style(calc(50% - @arrow-size));
	}

	&.top-right {
		.top-style(calc(100% - 10px));
	}

	&.right-top {
		.right-style(@arrow-size);
	}

	&.right-center {
		.right-style(calc(50% - @arrow-size));
	}

	&.right-bottom {
		.right-style(calc(100% - 10px));
	}

	&.left-top {
		.left-style(@arrow-size);
	}

	&.left-center {
		.left-style(calc(50% - @arrow-size));
	}

	&.left-bottom {
		.left-style(calc(100% - 10px));
	}

	&.bottom-left {
		.bottom-style(@arrow-size);
	}

	&.bottom-center {
		.bottom-style(calc(50% - @arrow-size));
	}

	&.bottom-right {
		.bottom-style(calc(100% - 10px));
	}
}
