@import '../style/index';

@tooltip-prefix-cls: ~'@{prefix}-tooltip';
@left-space-size: 5px;
@top-space-size: 5px;
@offset-size: -10px;
@light-offset-size: -3px;

.theme-style(@backColor, @color) {
  background-color: @backColor;
  color: @color;
  &:after {
    border-top-color: @backColor;
  }
}

.@{tooltip-prefix-cls} {
  position: absolute;
  font-size: 12px;
  max-width: 320px;
  min-width: 40px;
  max-height: 70px;
  line-height: 18px;
  padding: 8px;
  border-radius: 6px;
  box-sizing: border-box;
  z-index: @z-index-tooltip;
  word-break: break-all;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in;

  &.no-arrow:after {
    display: none !important;
  }

  &.show {
    opacity: 1;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-width: 5px;
  }

  &.is-dark {
    .theme-style(@gray-9, @color-white);
  }

  &.is-light {
    .theme-style(@color-white, @gray-9);
    box-shadow: @border-shadow-2;
  }

  &.is-error {
    .theme-style(@color-red1, @color-gray1);
  }

  &.is-remind {
    .theme-style(@blue-4, @color-white);
  }

  &.top-left:after {
    bottom: @offset-size;
    left: @left-space-size;
    transform: rotate(0);
  }

  &.top-center:after {
    bottom: @offset-size;
    left: 50%;
    transform: translate(-50%) rotate(0);
  }

  &.top-right:after {
    bottom: @offset-size;
    left: calc(100% - @left-space-size + @offset-size);
    transform: rotate(0);
  }

  &.right-top:after {
    left: @offset-size;
    top: @top-space-size;
    transform: rotate(90deg);
  }

  &.right-center:after {
    left: @offset-size;
    top: 50%;
    transform: translate(0, -50%) rotate(90deg);
  }

  &.right-bottom:after {
    left: @offset-size;
    top: calc(100% - @top-space-size + @offset-size);
    transform: rotate(90deg);
  }

  &.left-top {
    &:after {
      right: @offset-size;
      top: @top-space-size;
      transform: rotate(270deg);
    }
  }

  &.left-center {
    &:after {
      right: @offset-size;
      top: 50%;
      transform: translate(0, -50%) rotate(270deg);
    }
  }

  &.left-bottom {
    &:after {
      right: @offset-size;
      top: calc(100% - @top-space-size + @offset-size);
      transform: rotate(270deg);
    }
  }

  &.bottom-left {
    &:after {
      top: @offset-size;
      left: @left-space-size;
      transform: rotate(180deg);
    }
  }

  &.bottom-center {
    &:after {
      top: @offset-size;
      left: 50%;
      transform: translate(-50%) rotate(180deg);
    }
  }

  &.bottom-right {
    &:after {
      top: @offset-size;
      left: calc(100% - @left-space-size + @offset-size);
      transform: rotate(180deg);
    }
  }
}
