.icon-list {
  list-style-type: none;
  margin: 0;
  paddding: 0;
  .icon-li {
    display: inline-block;
    width: 23%;
    text-align: center;
    padding: 5px;
    margin: 0 0 5px 0;
    color: rgba(0, 0, 0, 0.65);
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
      color: #5280ff;
      .icon-area {
        transform: scale(1.2);
      }
    }
    .icon-area {
      height: 80px;
      line-height: 80px;
      transition: transform 0.3s;
    }
    .text-area {
      height: 20px;
      line-height: 20px;
      cursor: pointer;
    }
  }
}
