@import '../style/index';

@tablePrefixCls: ~'@{prefix}-table';
@tableContainerPrefixCls: ~'@{prefix}-table-box';
@containerPrefixCls: ~'@{prefix}-container';
@text-color: @gray-9;
@font-size-base: 12px;
@line-height: 1.5;
@table-border-color: @gray-4;
@table-head-background-color: @gray-2;
@large-vertical-padding: 16px;
@large-horizontal-padding: 16px;
@vertical-padding: 12px;
@horizontal-padding: 12px;
@small-vertical-padding: 8px;
@small-horizontal-padding: 8px;
@border-width: 1px;
@border-color: @gray-4;
@border: @border-width solid @border-color;
@cell-padding: @vertical-padding @horizontal-padding;
@large-cell-padding: @large-vertical-padding @large-horizontal-padding;
@small-cell-padding: @small-vertical-padding @small-horizontal-padding;
@cell-margin: -@vertical-padding -@horizontal-padding;
@border-radius: 2px;

.@{containerPrefixCls} {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.@{tableContainerPrefixCls} {
  position: relative;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: @gray-4;
    z-index: 2;
  }

  // 带边框表格
  &.@{tablePrefixCls}-bordered {
    .@{tablePrefixCls} {
      &-header {
        border-top: @border;
        border-right: @border;
        border-left: @border;
      }

      &-body {
        border-right: @border;
        border-left: @border;
      }

      th:not(:last-child),
      td:not(:last-child) {
        border-right: @border;
      }

      &-container {
        border-left: @border;
        border-top: @border;
        border-right: @border;
      }
    }
  }

  // 表头带线条
  &.@{tablePrefixCls}-header-bordered {
    th:not(:last-child) {
      position: relative;

      &:after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        content: '';
        display: block;
        width: 1px;
        height: 24px;
        background: @gray-5;
      }
    }
  }

  // 紧凑型表格
  &.@{tablePrefixCls}-small {
    .@{tablePrefixCls} {
      &-cell {
        padding: @small-cell-padding;
      }

      th,
      td {
        padding: @small-cell-padding;
      }

      &-fixed {
        padding: @small-cell-padding;
      }
    }
  }

  // 舒适型表格
  &.@{tablePrefixCls}-large {
    .@{tablePrefixCls} {
      &-cell {
        padding: @large-cell-padding;
      }

      th,
      td {
        padding: @large-cell-padding;
      }

      &-fixed {
        padding: @large-cell-padding;
      }
    }
  }

  // 加载中
  &.@{tablePrefixCls}-loading {
    position: relative;

    .@{tablePrefixCls}-loading-layer {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: @color-white;
      opacity: 0.9;
      z-index: 3;
    }
  }
}

.@{tablePrefixCls} {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  color: @text-color;
  font-size: @font-size-base;
  line-height: @line-height;

  &-rtl {
    direction: rtl;
  }

  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: @border-radius @border-radius 0 0;

    th:first-child {
      border-top-left-radius: @border-radius;
    }

    th:last-child {
      border-top-right-radius: @border-radius;
    }
  }

  &-fixed-header {
    .@{tablePrefixCls}-header {
      border-top-right-radius: @border-radius;
    }
  }

  // ================= Global =================
  table {
    position: relative;
    width: 100%;
    border-spacing: 0;
  }

  th,
  td {
    position: relative;
    box-sizing: border-box;
    padding: @cell-padding;
    white-space: normal;
    word-break: break-word;
    border-bottom: @border;
    font-size: 14px;
    color: @gray-9;
    transition: box-shadow 0.3s;

    .@{tablePrefixCls}-rtl& {
      border-right: 0;
      border-left: @border;
    }
  }

  tr:not(.@{tablePrefixCls}-expanded-row):hover td {
    background: @gray-2;
    transition: all 0.3s;
  }

  // ================== Cell ==================
  &-cell {
    position: relative;

    &:hover {
      //background: @gray-3;
    }

    .cloud-radio,
    .cloud-radio-wrapper {
      margin-right: 0;
    }

    &-fix-left,
    &-fix-right {
      z-index: 1;
    }

    &-fix-right:last-child:not(&-fix-sticky) {
      border-right-color: transparent;
    }

    .@{tablePrefixCls}-rtl & {
      &-fix-right:last-child {
        border-right-color: @border-color;
      }
      &-fix-left:last-child {
        border-left-color: transparent;
      }
    }

    &-fix-left-first {
      .@{tablePrefixCls}-rtl & {
        box-shadow: 1px 0 0 @border-color;
      }
    }

    &-fix-left-first::after,
    &-fix-left-last::after {
      position: absolute;
      top: 0;
      right: -1px;
      bottom: -1px;
      width: 20px;
      transform: translateX(100%);
      transition: box-shadow 0.3s;
      content: '';
      pointer-events: none;
    }

    &-fix-right-first,
    &-fix-right-last {
      right: 0 !important;

      .@{tablePrefixCls}-rtl & {
        box-shadow: none;
      }

      &::after {
        position: absolute;
        top: 0;
        bottom: -1px;
        left: -1px;
        width: 20px;
        transform: translateX(-100%);
        transition: box-shadow 0.3s;
        content: '';
        pointer-events: none;
      }
    }

    &&-ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      // Fixed first or last should special process
      &.@{tablePrefixCls}-cell-fix-left-first,
      &.@{tablePrefixCls}-cell-fix-left-last,
      &.@{tablePrefixCls}-cell-fix-right-first
        &.@{tablePrefixCls}-cell-fix-right-last {
        overflow: visible;

        .@{tablePrefixCls}-cell-content {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &-ping-left {
    .@{tablePrefixCls}-cell-fix-left-first::after,
    .@{tablePrefixCls}-cell-fix-left-last::after {
      box-shadow: @border-shadow-left;
    }
  }

  &-ping-right {
    .@{tablePrefixCls}-cell-fix-right-first::after,
    .@{tablePrefixCls}-cell-fix-right-last::after {
      box-shadow: @border-shadow-right;
    }
  }

  // ================= Expand =================
  &-expand-icon-col {
    width: 40px;
  }

  &-row-expand-icon-cell {
    text-align: center;
  }

  // ================= Header =================
  thead {
    td,
    th {
      text-align: center;
      background: @table-head-background-color;
      color: @gray-7;
      font-weight: normal;
      font-size: 14px;
    }

    .@{tablePrefixCls}-cell-scrollbar::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1px;
      width: 1px;
      background: @table-head-background-color;
      content: '';

      .@{tablePrefixCls}-rtl& {
        right: -1px;
        left: auto;
      }
    }
  }

  &-header {
  }

  // ================= Empty ==================
  &-placeholder {
    text-align: center;
  }

  &-empty {
    table {
      height: 100%;

      tr:not(.@{tablePrefixCls}-expanded-row):hover td {
        background: transparent;
      }
    }
  }

  // ================== Body ==================
  tbody {
    tr {
      td,
      th {
        background: @color-white;
      }
    }
  }

  &-content {
    border-radius: @border-radius 0 0 0;
  }

  //noinspection CssInvalidPropertyValue
  &-tbody,
  &-body {
    flex: 1;
    overflow: auto auto !important;
    overflow: overlay overlay !important;
    &::-webkit-scrollbar-thumb {
      background-color: var(--dw-scroll-color, rgba(0, 0, 0, 0)) !important;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: var(--dw-scroll-color, rgba(0, 0, 0, 0.25)) !important;
      }
    }

    tr.@{tablePrefixCls}-row-select {
      td {
        background: @blue-1;
      }
    }

    tr.@{tablePrefixCls}-row-lighted {
      td {
        background: @yellow-1;
      }
    }

    tr.@{tablePrefixCls}-row-disabled {
      td {
        color: @gray-6;
        cursor: not-allowed;
      }
    }
  }

  &-fixed-column &-body::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    //border-right: @border;
    content: '';
  }

  // ================= Expand =================
  &-expanded-row {
    .@{tablePrefixCls}-cell {
      padding: 24px 12px;
      background: @gray-2;
    }

    &-fixed {
      box-sizing: border-box;
      margin: @cell-margin;
      margin-right: -@horizontal-padding - 2 * @border-width;
      padding: @cell-padding;

      &::after {
        position: absolute;
        top: 0;
        right: 1px;
        bottom: 0;
        width: 0;
        //border-right: @border;
        content: '';
      }
    }
  }

  &-expend-icon {
    display: inline-flex;
    padding-right: 10px;
    font-size: 12px;
    color: @gray-7;
    cursor: pointer;
    transition: all 0.3s;

    &-hide {
      visibility: hidden;
    }

    &-expended {
      transform: translate(-5px, 5px) rotate(90deg);
    }
  }

  // ================= Title ==================
  &-title {
    padding: @cell-padding;
    border: @border;
    border-bottom: 0;
  }

  // ================= Footer =================
  &-footer {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-statistics {
      display: flex;
      align-items: center;
      justify-content: center;
      color: @gray-9;
    }

    &-select {
      margin-right: 25px;
    }

    &-refresh {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      > i {
        margin-right: 6px;
      }
    }

    &-page {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-total {
      margin-right: 16px;
    }
  }

  tfoot {
    td {
      background: @color-white;
    }
  }

  &-summary {
    border-top: @border;
    border-left: @border;
  }

  .sort-icon-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover {
      &:not(.cell-align-right):after {
        position: absolute;
        top: 15px;
        right: 10px;
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: @gray-4;
        z-index: 0;
      }
    }

    &.cell-align-right {
      .sort-up-icon,
      .sort-down-icon {
        right: 0;
      }
    }

    &.sort-asc {
      .sort-up-icon {
        color: @blue-4;
      }
    }

    &.sort-desc {
      .sort-down-icon {
        color: @blue-4;
      }
    }

    .sort-up-icon,
    .sort-down-icon {
      position: absolute;
      right: 12px;
      font-size: 12px;
      // todo@liyuan 透明色值bug
      color: #898989;
      display: inline-block;
      transform: scale(0.9);
      z-index: 1;
    }

    .sort-up-icon {
      top: 11px;
    }

    .sort-down-icon {
      top: 18px;
    }
  }
}
