@import '../style/index';

@selector: ~'@{prefix}-tree';

@selector-search-icon: #dbdbdb;
@selector-menu-border: 1px solid #e8e8e8;
@selector-menu-hover: #e9e9e9;

@selector-node-active-background: #e7f3fc;
@selector-node-active-color: #08c;
@display: inline-block;

.@{selector} {
	position: relative;
	user-select: none;
	.@{prefix}-icon {
		font-size: 14px;
	}

	ul {
		margin: 0;
		padding-left: 16px;
	}

	li {
		list-style: none;
		cursor: pointer;
	}

	// 搜索组件
	&-search {
		padding-bottom: 10px;

		.@{prefix}-input-group {
			width: 100%;
			line-height: 30px;
		}

		.icon-search {
			color: @selector-search-icon;
			font-size: 20px;
			cursor: pointer;
		}
	}

	// 列表组件
	&-list {
		white-space: nowrap;
		> li {
			margin-left: 16px;
		}
		&-node-area {
			.@{prefix}-icon {
				display: @display;
				height: 26px;
				color: @color-gray3;
				vertical-align: top;
				line-height: 26px;
			}

			.node-item {
				display: inline-flex;
				height: 26px;
				border-radius: 2px;
				line-height: 26px;
				cursor: pointer;
				padding: 0 4px;

				&:hover {
					background: @color-gray7;
				}

				.@{prefix}-checkbox {
					display: inline-flex;
					width: 94%;
					z-index: 10;

					.@{prefix}-icon-check-circle-solid {
						padding-right: 4px;
					}
				}

				.@{prefix}-icon-down-solid,
				.@{prefix}-icon-right-solid,
				.@{prefix}-checkbox {
					padding-left: 4px;
				}
			}

			.node-input {
				height: 26px;
				margin-right: 4px;
			}

			.node-name {
				display: @display;
				padding-left: 2px;
				width: inherit;
			}

			.hot-text {
				color: @color-blue1;
			}

			.is-add {
				padding-left: 34px;
			}

			.is-rename {
				display: @display;
				padding-left: 2px;
			}
			.save-icon {
				color: #36cb37;
			}

			.is-active {
				color: @selector-node-active-color;
				background: @selector-node-active-background;
			}
		}
		.has-child-style {
			margin-left: -16px;
		}
		.hide-node {
			display: none;
		}
	}

	// 菜单组件
	&-menu {
		width: 86px;
		position: fixed;
		text-align: center;
		z-index: 100;
		padding: 3px 0 !important;
		border: @selector-menu-border;
		background-color: @color-white;

		> li {
			line-height: 22px;

			&:hover {
				background: @selector-menu-hover;
			}

			&.disabled {
				cursor: not-allowed;
				opacity: 0.6;
			}
		}
	}
}
