@import '../style/index';

@selector: ~'@{prefix}-tree';

@selector-search-icon: #DBDBDB;
@selector-searched-fontColor: #00AAF1;
@selector-menu-background: #FFF;
@selector-menu-border: 1px solid #E8E8E8;
@selector-menu-hover: #E9E9E9;

@selector-node-area-hover: #EEE;
@selector-node-icon-color: #999;
@selector-node-active-background: #E7F3FC;
@selector-node-active-color: #08C;
@display: inline-block;

.@{selector} {
	position: relative;

	ul {
		margin: 0;
		padding-left: 30px;
	}

	li {
		list-style: none;
		cursor: pointer;
	}

	// 搜索组件
	&-search {
		padding-bottom: 10px;

		.@{prefix}-input-group {
			width: 100%;
			line-height: 30px;
		}

		.icon-search {
			color: @selector-search-icon;
			font-size: 20px;
			cursor: pointer;
		}
	}

	// 列表组件
	&-list {
		white-space: nowrap;
		&-node-area {
			position: relative;
			.cloud-icon {
				display: @display;
				height: 26px;
				color: @selector-node-icon-color;
				vertical-align: top;
				line-height: 26px;
			}

			.node-item {
				display: inline-flex;
				height: 26px;
				padding: 0 4px;
				border-radius: 2px;
				line-height: 26px;
				cursor: pointer;

				&:hover {
					background: @selector-node-area-hover;
				}

				.radio, .checkbox {
					display: inline-flex;
					width: 94%;
					z-index: 10;

					.icon-check-circle-solid {
						padding-right: 4px;
					}
				}

				.icon-down-solid, .icon-right-solid, .checkbox {
					padding-left: 4px;
				}
			}

			.node-input {
				height: 26px;
			}

			.node-name {
				display: @display;
				padding-left: 2px;
				width: inherit;
			}

			.hot-text {
				color: @selector-searched-fontColor;
			}

			.is-add {
				padding-left: 38px;
			}

			.is-rename {
				display: @display;
			}

			.is-active {
				color: @selector-node-active-color;
				background: @selector-node-active-background;
			}
		}

		.hide-node {
			display: none;
		}
	}

	// 菜单组件
	&-menu {
		width: 86px;
		position: fixed;
		text-align: center;
		z-index: 100;
		padding: 3px 0 !important;
		border: @selector-menu-border;
		background-color: @selector-menu-background;

		> li {
			line-height: 22px;

			&:hover {
				background: @selector-menu-hover;
			}

			&.disabled {
				cursor: not-allowed;
				opacity: 0.6;
			}
		}
	}
}
