@import '../style/index';

@message-prefix-cls: ~'@{prefix}-message';
@text-color: @gray-9;

@success-bg: @green-1;
@success-color: @text-color;
@success-border: @green-2;
@success-x-color: @green-3;
@success-x-hover-color: @green-3;
@success-icon-color: @green-4;

@error-bg: @red-1;
@error-color: @text-color;
@error-border: @red-2;
@error-x-color: @red-3;
@error-x-hover-color: @red-3;
@error-icon-color: @red-4;

@info-bg: @blue-1;
@info-color: @text-color;
@info-border: @blue-2;
@info-x-color: @blue-3;
@info-x-hover-color: @blue-3;
@info-icon-color: @blue-4;

@warn-bg: @orange-1;
@warn-color: @text-color;
@warn-border: @orange-2;
@warn-x-color: @orange-3;
@warn-x-hover-color: @orange-3;
@warn-icon-color: @orange-4;

.cloud-message-type(@bg, @bgBorderColor, @msgTextColor, @closeColor, @closeHoverColor, @tagColor) {
	background: @bg;
	border: 1px solid @bgBorderColor;
	.msg-text {
		flex: 1;	
		.msg-text-title {
			color: @msgTextColor;
		}
	}
	.close-icon {
		color: @closeColor;
		margin-top: 1px;
		&:hover {
			color: @closeHoverColor;
		}
	}
	.msg-operate {
		cursor: pointer;
		color: @tagColor;
	}
	.tag-icon {
		color: @tagColor;
		margin-top: 1px;
	}
}

.@{message-prefix-cls} {
	position: fixed;
	max-height: 100%;
	overflow-y: auto;
	z-index: @z-index-message;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	.notice {
		display: inline-flex;
		align-items: flex-start;
		width: 400px;
		min-height: 36px;
		line-height: 18px;
		border-radius: 2px;
		overflow: hidden;
		font-size: 12px;
		padding: 8px 9px 8px 9px;
		margin-top: 1px;
		box-sizing: border-box;
		transform: translateY(-35%);
		opacity: 0;
		transition: 0.5s;
	}
	.fade-in {
		opacity: 1;
		transform: translateY(0);
	}
	.fade-out {
		opacity: 0;
		transform: scale(0.95);
	}
	.tag-icon {
		font-size: 14px;
		margin-right: 10px;
	}
	.msg-text {
		font-size: 14px;
		line-height: 20px;
		color: @gray-8;
		margin-right: 8px;
	}
	.msg-operate {
		line-height: 20px;
		margin-right: 10px;
		font-size: 14px;
	}
	.close-icon {
		align-items: flex-end;
		font-size: 16px;
		cursor: pointer;
		opacity: 0.6;
	}
	&-success {
		.cloud-message-type(@success-bg, @success-border, @success-color, @success-x-color, @success-x-hover-color, @success-icon-color);
	}

	&-error {
		.cloud-message-type(@error-bg, @error-border, @error-color, @error-x-color, @error-x-hover-color, @error-icon-color);
	}
	&-info {
		.cloud-message-type(@info-bg, @info-border, @info-color, @info-x-color, @info-x-hover-color, @info-icon-color);
	}
	&-warn {
		.cloud-message-type(@warn-bg, @warn-border, @warn-color, @warn-x-color, @warn-x-hover-color, @warn-icon-color);
	}
}
