@import '../style/index';

@message-prefix-cls: ~'@{prefix}-message';

@success-bg: #D8F2D4;
@success-color: #3A773A;
@success-border: #C3DABF;
@success-x-color: #6DA89C;
@success-x-hover-color: #448074;
@success-icon-color: #42AA31;

@error-bg: #FFDFE0;
@error-color: #853432;
@error-border: #FBCDCE;
@error-x-color: #853432;
@error-x-hover-color: #7B2624;
@error-icon-color: #FF5243;

.cloud-message-type(@bg, @bgBorderColor, @msgTextColor, @closeColor, @closeHoverColor, @tagColor) {
	background: @bg;
	border: 1px solid @bgBorderColor;
	.msg-text {
		color: @msgTextColor;
	}
	.close-icon {
		color: @closeColor;
		&:hover {
			color: @closeHoverColor;
		}
	}
	.tag-icon {
		color: @tagColor;
	}
}

.@{message-prefix-cls} {
	position: fixed;
	max-height: 100%;
	overflow-y: auto;
	z-index: 1400;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	.notice {
		display: inline-flex;
		width: 450px;
		line-height: 18px;
		border-radius: 2px;
		overflow: hidden;
		font-size: 12px;
		padding: 8px 14px 7px 20px;
		margin-top: 1px;
		box-sizing: border-box;
		transform: translateY(-35%);
		opacity: 0;
		transition: .3s;
		div {
			margin: 0 19px 0 6px;
		}
	}
	.fade-in {
		opacity: 1;
		transform: translateY(0);
	}
	.fade-out {
		opacity: 0;
		transform: scale(.95);
	}
	.close-icon {
		position: absolute;
		right: 10px;
		font-size: 12px;
		cursor: pointer;
		opacity: .6;
		margin-left: 20px
	}
	&-success {
		.cloud-message-type(@success-bg, @success-border, @success-color, @success-x-color, @success-x-hover-color, @success-icon-color)
	}

	&-error {
		.cloud-message-type(@error-bg, @error-border, @error-color, @error-x-color, @error-x-hover-color, @error-icon-color)
	}
}
